/* public/css/menu.css */
/* Transiciones del menú */
.menu-enter {
  transform: translateY(-10%);
  opacity: 0;
}
.menu-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease, opacity 300ms ease;
}
.menu-leave {
  transform: translateY(0);
  opacity: 1;
}
.menu-leave-active {
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}
